.blog {
  padding: 8rem 0;
}
.blogHead h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}
.blogHead p {
  color: #777777;
  text-align: center;
}
button.allArticle,
a.allArticle {
  border: none;
  background-image: linear-gradient(
    to right,
    #766dff 0%,
    #88f3ff 48%,
    #766dff 100%
  );
  background-size: 200% auto;
  color: white;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  transition: all 0.3s ease;
}
button.allArticle:focus {
  outline: none;
}

button.allArticle:hover,
a.allArticle:hover {
  color: white;
  background-position: right center;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .blog {
    padding: 3rem 1rem;
  }
  .blogHead h3 {
    font-size: 2rem;
    text-align: center;
  }
}
